USE [master]
GO
/****** Object:  Database [MOVIEDB]    Script Date: 29/06/2023 1:41:41 pm ******/
CREATE DATABASE [MOVIEDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MOVIEDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MOVIEDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MOVIEDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MOVIEDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MOVIEDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MOVIEDB]
GO
/****** Object:  Table [dbo].[TBL_CATEGORIES]    Script Date: 29/06/2023 1:41:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CATEGORIES](
	[CATEGORYID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MOVIES]    Script Date: 29/06/2023 1:41:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MOVIES](
	[MOVIEID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[DESCRITPION] [nvarchar](100) NULL,
	[CATEGORYID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TBL_CATEGORIES] ([CATEGORYID], [NAME]) VALUES (N'2e721539-be0d-4940-8944-ae5b74ce9a22', N'Action')
INSERT [dbo].[TBL_CATEGORIES] ([CATEGORYID], [NAME]) VALUES (N'17ff999d-1ef9-452f-8d1c-861a6750b886', N'Horror')
INSERT [dbo].[TBL_CATEGORIES] ([CATEGORYID], [NAME]) VALUES (N'7aa18b26-1ae8-4fcc-9fce-8f941590b925', N'Drama')
/****** Object:  Index [PK_CATEGORYID]    Script Date: 29/06/2023 1:41:42 pm ******/
ALTER TABLE [dbo].[TBL_CATEGORIES] ADD  CONSTRAINT [PK_CATEGORYID] PRIMARY KEY NONCLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NAME]    Script Date: 29/06/2023 1:41:42 pm ******/
ALTER TABLE [dbo].[TBL_CATEGORIES] ADD  CONSTRAINT [UQ_NAME] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_MOVIEID]    Script Date: 29/06/2023 1:41:42 pm ******/
ALTER TABLE [dbo].[TBL_MOVIES] ADD  CONSTRAINT [PK_MOVIEID] PRIMARY KEY NONCLUSTERED 
(
	[MOVIEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NAME_DESCRIPTION_CATEGORYID]    Script Date: 29/06/2023 1:41:42 pm ******/
ALTER TABLE [dbo].[TBL_MOVIES] ADD  CONSTRAINT [UQ_NAME_DESCRIPTION_CATEGORYID] UNIQUE NONCLUSTERED 
(
	[NAME] ASC,
	[DESCRITPION] ASC,
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_CATEGORIES] ADD  CONSTRAINT [DF_CATEGORIES_CATEGORYID]  DEFAULT (newid()) FOR [CATEGORYID]
GO
ALTER TABLE [dbo].[TBL_MOVIES] ADD  CONSTRAINT [DF_TBL_MOVIE_MOVIEID]  DEFAULT (newid()) FOR [MOVIEID]
GO
ALTER TABLE [dbo].[TBL_MOVIES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MOVIE_CATEGORYID] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[TBL_CATEGORIES] ([CATEGORYID])
GO
ALTER TABLE [dbo].[TBL_MOVIES] CHECK CONSTRAINT [FK_TBL_MOVIE_CATEGORYID]
GO
USE [master]
GO
